.statistics {
    width: 300px;
    height: 100px;
    background-color: rgb(191, 197, 197);
    margin: 0 auto;
    padding: 100px;
}
.statlist {
    margin: 0 auto;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    height: 75px;
    background-color: rgb(251, 255, 255);
}
.statlist {
    list-style: none;
    padding: 0;
    display: flex;
}
.item {
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}